
/* ---------- **********  ГЛОБАЛЬНЫЕ СВОЙСТВА  ********** ---------- */


:root {
    box-sizing: border-box;
    scroll-behavior: smooth;
}




*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
}




body {
    font-family: "Chakra Petch";
    background-color: hsl(240, 6%, 10%);
}
/* --- *** класс для фиксирования документа
при открытии мобильного меню *** --- */
.body__fixed {
    overflow: hidden;
}
/**/